# Entornos virtuales de Python y Cache
backend/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Dependencias de Node
frontend/node_modules/
frontend/dist/

# SECRETOS (Lo más importante)
.env
backend/.env
frontend/.env
*.local

# Archivos del sistema e IDE
.vscode/
.DS_Store